/* font-family:  "Protest Guerrilla", sans-serif; para numeros */
/* font-family: "Montserrat", sans-serif; para links e titulos */
/* font-family: "Poppins", sans-serif; font-weight: 100; font-style: italic; descrição */

:root {
    font-size: 62.5%;
}

body {
    background: #ffffff;
    margin: 0;
    overflow-x: hidden;
}


/* header  */
header {
    display: flex;
    justify-content: space-evenly;
}

.links {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
    padding: 2rem;
    padding-bottom: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: #0F592F;
    font-family: "Montserrat", sans-serif;
    position: relative;
    transition: 1s ease;
}

header a::after {
    content: '';
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #0F592F;
    transition: width 0.4s ease, left 0.3s ease;
}

header a:hover::after {
    width: 70%;
}

.logo img {
    width: 5rem;
    align-items: center;
    margin-top: 1rem;
}

.pesquisar {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.pesquisar ion-icon {
    font-size: 3rem;
    color: #0F592F;
}

.pesquisar input {
    border: #0F592F 2px solid;
    border-radius: 1rem;
}

/* pagina principal */

section {
    width: 100vw;
    height: 100vh;
    position: relative;
}

.pg-principal {
    width: 100%;
    margin-top: 2rem;
}

.pg-principal img {
    width: 100%;
    object-fit: cover;
    margin-bottom: 2rem;
}

.carrosel-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    animation: carrosel 10s linear infinite;
}

.carrosel-content .img {
    width: 8rem;
}

@keyframes carrosel {

    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* pagina de promoção */

.pg-promocao {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
}

.card-de-cima {
    display: flex;
    justify-content: space-evenly;
    gap: 5rem;
}

.card1 {
    width: 50rem;
    height: 20rem;
    position: relative;
}

.card1 img {
    width: 90%;
    border-radius: 1rem;
    object-fit: cover;
}

.card2 {
    width: 30rem;
    height: 20rem;
}

.card2 img {
    width: 90%;
    border-radius: 1rem;
    object-fit: cover;
}

.card3 {
    width: 30rem;
    height: 20rem;
}

.card3 img {
    width: 90%;
    border-radius: 1rem;
    object-fit: cover;
}

.parte-de-baixo {
    display: flex;
    justify-content: space-evenly;
    margin-top: 7rem;
}

.parte-de-baixo h1 {
    width: 40rem;
    margin: 0;
}

#titulo-promo {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 4rem;
    color: #0F592F;
}

#descricao-promo {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: black;
    font-style: italic;
    font-size: 1rem;
}

.carousel-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 30rem;
}

.carousel-images img {
    width: 30rem;
    border-radius: 10px;
}